$percent:100%;
// -------------------- size-px end --------------------
$purple:#21182d;

$golden:#b5936c;

$gray:#c9c9c9;
$gray_1:#43484d;
$gray_2:#e1e8ee;
$gray_3:#f6f8fa;
$gray_4:#5e6977;
$gray_5:#818e9a;
$gray_6:#f0f4f7;
$gray_7:#bdc6cf;
$gray_8:#b4bcc3;
$gray_9:#dfe3e8;
$gray_10:#8b979e;
$gray_11:#f3f6f9;
$gray_12:#f6f9fb;
$gray_13:#e8eef3;
$gray_14:#86939e;
$gray_15:#eaf0f5;
$gray_16:#edf2f6;
$gray_17:#e3e9ef;
$gray_18:#e3e3e3;
$gray_19:#e9eef3;
$gray_20:#97a0a7;
$gray_21:#62686d;
$gray_22:#f7f9fb;
$gray_23:#7c7c7c;
$gray_24:#818181;
$gray_25:#9a9a9a;
$gray_26:#6a7582;
$gray_27:#ccc;
$gray_28:#eee;
$gray_29:#333;

$white:#fff;
$white_1:#fafafa;
$white_2:#fafbfc;

$black:#000;
$black_1:#20242b;
$black_2:#565c62;
$black_3:#404040;
$black_4:#1e1e1e;
$black_5:#5f5f5f;
$black_6:#3a3a39;
$black_7:#1d1d1d;
$black_8:#222;
$black_9:#383c40;

$blue:#8a99a6;
$blue_2:#8d9aa5;
$blue_3:#69cfe8;
$blue_4:#b9cad7;
$blue_5:#63c3db;
$blue_6:#5ab1c7;
$blue_7:#e3eaef;
$blue_8:#cddae4;
$blue_9:#4d5968;
$blue_10:#f0fafc;
$blue_11:#54aac0;
$blue_12:#37afff;
$blue_13:#e1f3ff;

$yellow:#ffcb05;
$yellow_1:#ebbf52;
$yellow_2:#d9b14c;
$yellow_3:#ff6600;
$yellow_4:#fef8ec;
$yellow_5:#ddb44d;
$yellow_6:#fef3da;

$green:#81ca5a;
$green_1:#92cd63;
$green_2:#98d265;
$green_3:#8ec45e;
$green_4:#81b356;

$orange:#ff4d37;
$orange_1:#242b33;
$orange_2:#ffe8d9;
$orange_3:#ff6a05;
$orange_4:#fff4e1;
$orange_5:#ffb02d;
$orange_6:#f7755b;
$orange_7:#f9cb58;
$orange_8:#feeeea;
$orange_9:#ff7b6b;
$orange_10:#ffa366;
$orange_11:#ff6e00;
$orange_12:#faefdd;

$red:#e6162d;
$red_1:#f67156;
$red_2:#fe5843;
$red_3:#da5d43;
$red_4:#b20f1e;
$red_5:#ffa28f;
$red_6:#e59181;
$red_7:#e86a51;
$red_8:#d16049;
$red_9:#f6755b;
$red_10:#ef3e2c;
$red_11:#c01616;
$red_12:#fef0ee;
$red_13:#e04a0b;

$cyan:#50e3c2;
$cyan_1:#f6fdfb;
// -------------------- color end ----------------------
// -------------------- font-px end --------------------
// -------------------- number  end --------------------
